# Composer
/vendor/
/composer.lock
/composer.phar

# Tooling caches and build artifacts
/build/
/.php-cs-fixer.cache
/.phpunit.cache/
/.phpunit.result.cache
/rector-cache/
/.rector.cache/

# IDE
/nbproject/private/
/nbproject/
